@import 'mixins';
@import 'variables';


body {
    background-color: $primario;
}
#centerPage {
    background-color: rgb(199, 66, 66);
    // display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 176, 196);
    // margin: 1%;
    padding: 1%;
}

button {
    cursor: pointer;
    list-style: none;
    margin: 1% auto;
    width: 20%;
}

a {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: medium;
}

//LOGIN PAGE

 

//ROOMS 

.grid-container-main {
    
    display: grid;
    grid-template-columns: 25% 100%;
// grid-template-rows: 1fr 100%;
    // grid-template-rows: 1fr 2fr;
    // background-color: green;

    @include md {
    
    display: grid;
    background-color: cyan;
    // grid-template-rows: 1fr 2fr;
    grid-template-columns: 25% repeat(2,auto);
    // grid-column: 2;
    // align-items: end
    }
}
