$primario: rgb(255, 255, 255);

body {
    background-color: $primario;
}

#player {
    display: flex;
    align-items: center;
}

video {
    margin: 0px;
    background: rgb(0, 0, 0);
    width: 50%;
    height: 50%;
    float: left;
    // display: block;
    // position: relative;
    padding: 0px;
    outline: none;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(26, 176, 196);
}

button {
    padding: 1%;
    margin: 2% 5%;
    // background-color: black;
}

li {
    list-style: none;
    // margin: auto;

}

h1 {
    text-align: center;
    margin: 1%;
}

th {
    padding: 1% 0;
}

input {
    margin: 0;
}

.flexbox-login {
    padding: 0 25%;
    margin: 1% 0% 1% 1%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#invioLogin {
    display: block;
    width: 30%;
    margin: 1% 0;
}

#notRegistered {
    padding: 0;
}